@import "../templates/_base.scss";

header {
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo {
        width: min-content;
    }

    .header-links {
        font-family: $nunito;
        font-weight: $fw-bold;
        font-size: $fs-medium;

        .header-link {
            margin: 0 1rem;
            color: black;
        }

        &:last-child .header-link:last-child {
            padding: 0.4rem;
            border-radius: 0.3rem;
            background-color: black;
            color: white;
        }
    }
}