@import 'global/base';

body {
    background-color: $background-light;
    padding: 0 15rem;
}

header {
    display: flex;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    width: 100%;
    .header-logo {
        font-family: $ff-poppins;
        font-weight: $fw-bold;
        font-size: $fs-large;
        color: $text-light;
        span {
            color: $main-color;
        }
    }
    .header-auth {
        .auth-link {
            font-family: $ff-rubik;
            font-weight: $fw-medium;
            font-size: $fs-small;
            color: $text-light;
            &:last-child {
                padding: 0.5rem 1.25rem;
                margin-left: 1rem;
                border: 0.15rem solid $main-color;
                border-radius: 2rem;
                color: $main-color;
            }
        }
    }
}

main {
    .home {
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100vh - 10rem);
        width: 100%;
        .home-content {
            .home-title {
                color: $text-light;
                font-size: $fs-xx-large;
                font-weight: $fw-medium;
                font-family: $ff-poppins;
                width: 25rem;
                margin-bottom: 3rem;
                span {
                    font-weight: $fw-bold;
                }
            }
            .home-subtitle {
                color: $text-light-alt;
                font-size: $fs-large;
                font-family: $ff-poppins;
                font-weight: $fw-regular;
                width: 45rem;
                margin-bottom: 3rem;
                span {
                    font-weight: $fw-bold;
                }
            }
            .home-button {
                font-size: $fs-medium;
                font-family: $ff-poppins;
                font-weight: $fw-bold;
                color: $text-dark;
                padding: 1rem 3.5rem;
                border-radius: 0.5rem;
                background-color: $main-color;
                border: none;
                margin-bottom: 6rem;
            }
            .home-card {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                align-self: center;
                height: 10rem;
                width: 100%;
                border-radius: 1rem;
                box-shadow: $card-shadow;
                .home-item {
                    padding: 1rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .item-text {
                        font-family: $ff-rubik;
                        .item-title {
                            font-weight: $fw-bold;
                            color: $text-light;
                        }
                        .item-subtitle {
                            font-weight: $fw-regular;
                            color: $text-light-alt;
                        }
                    }
                    svg {
                        height: 5rem;
                        width: 5rem;
                        margin-right: 1rem;
                        .user-icon {
                            &:nth-child(1){
                                fill: $main-color-dark;
                            }
                            &:nth-child(2){
                                fill: $main-color;
                            }
                            &:nth-child(3){
                                fill: $main-color-x-light;
                            }
                        }
                        .location-icon {
                            &:nth-child(1){
                                fill: $main-color;
                            }
                            &:nth-child(2){
                                fill: $main-color-light;
                            }
                            &:nth-child(3){
                                fill: $main-color-x-light;
                            }
                        }
                        .server-icon {
                            &:nth-child(1),
                            &:nth-child(2){
                                fill: $main-color
                            }
                            &:nth-child(3),
                            &:nth-child(4),
                            &:nth-child(5){
                                fill: $main-color-x-dark;
                            }
                            &:nth-child(6){
                                fill: $main-color-x-light;
                            }
                        }
                    }
                }
                .home-item-divisor {
                    height: 80%;
                    background-color: $text-light-alt;
                    opacity: 0.1;
                    width: 2px;
                }
            }
        }
    }
    .security {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        .security-content {
            height: 50rem;
            display: flex;
            justify-content: center;
            align-items: center;
            .security-svg {
                height: 40rem;
                width: 40rem;
                svg {
                    width: 100%;
                    height: 100%;
                }
            }
            .security-text {
                font-family: $ff-rubik;
                .security-title {
                    font-family: $ff-poppins;
                    font-size: $fs-giant;
                    font-weight: $fw-medium;
                    color: $text-light;
                    width: 40rem;
                    margin-bottom: 2rem;
                    span {
                        font-weight: $fw-bold;
                    }
                }
                .security-subtitle {
                    font-size: $fs-large;
                    width: 40rem;
                    font-weight: $fw-regular;
                    color: $text-light-alt;
                    margin-bottom: 2rem;
                }
                .security-list-item {
                    display: flex;
                    align-items: center;
                    color: $text-light-alt;
                    font-size: $fs-medium;
                    margin-bottom: 1.5rem;
                    svg {
                        margin-right: 1rem;
                        height: 2rem;
                        width: 2rem;
                        path {
                            &:nth-child(1){
                                fill: white;
                            }
                            &:nth-child(2){
                                fill: $main-color;
                            }
                        }
                    }
                }
            }
        }
    }
    .plans {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: $ff-rubik;
        .plans-title {
            font-size: $fs-large;
            font-weight: $fw-medium;
            color: $text-light;
            margin-bottom: 2rem;
        }
        .plans-subtitle {
            font-size: $fs-regular;
            font-weight: $fw-regular;
            color: $text-light-alt;
            margin-bottom: 4rem;
        }
        .plans-content {
            display: flex;
            justify-content: space-around;
            align-items: center;
            .plan {
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 0.15rem solid rgba($text-light-alt, 0.15);
                border-radius: 1rem;
                padding: 2rem;
                height: 45rem;
                margin: 1rem;
                .plan-icon {
                    svg {
                        height: 10rem;
                        width: 10rem;
                        margin-bottom: 4rem;
                    }
                }
                .plan-title {
                    font-size: $fs-medium;
                    font-weight: $fs-regular;
                    margin-bottom: 3rem;
                }
                .plan-features {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    margin-bottom: 3rem;
                    .feature {
                        display: flex;
                        align-items: center;
                        margin-bottom: 0.5rem;
                        .feature-icon {
                            height: 2.5rem;
                            width: 2.5rem;
                            margin-right: 1rem;
                            path {
                                &:nth-child(1) {
                                    fill: $main-color;
                                }
                                &:nth-child(2) {
                                    fill: $main-color-x-light;
                                }
                            }
                        }
                        .feature-text {
                            color: $text-light-alt;
                            font-weight: $fw-regular;
                            font-size: $fs-small;
                            width: 18rem;
                        }
                    }
                }
                .plan-price {
                    font-weight: $fw-medium;
                    margin-bottom: 1rem;
                    width: 100%;
                    height: 100%;
                }
                .plan-button {
                    padding: 0.5rem 3rem;
                    border-radius: 2rem;
                    border: 0.15rem solid $main-color;
                    background-color: transparent;
                    font-family: $ff-rubik;
                    font-weight: $fw-bold;
                    font-size: $fs-regular;
                    color: $main-color;
                }
            }
        }
    }
}