@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: white;
  padding: 0 15rem;
}

header {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  align-items: center;
  width: 100%;
}
header .header-logo {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: #0B132A;
}
header .header-logo span {
  color: #4E7BED;
}
header .header-auth .auth-link {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 0.85rem;
  color: #0B132A;
}
header .header-auth .auth-link:last-child {
  padding: 0.5rem 1.25rem;
  margin-left: 1rem;
  border: 0.15rem solid #4E7BED;
  border-radius: 2rem;
  color: #4E7BED;
}

main .home {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 10rem);
  width: 100%;
}
main .home .home-content .home-title {
  color: #0B132A;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  width: 25rem;
  margin-bottom: 3rem;
}
main .home .home-content .home-title span {
  font-weight: 700;
}
main .home .home-content .home-subtitle {
  color: #4F5665;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  width: 45rem;
  margin-bottom: 3rem;
}
main .home .home-content .home-subtitle span {
  font-weight: 700;
}
main .home .home-content .home-button {
  font-size: 1.25rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: white;
  padding: 1rem 3.5rem;
  border-radius: 0.5rem;
  background-color: #4E7BED;
  border: none;
  margin-bottom: 6rem;
}
main .home .home-content .home-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-self: center;
  height: 10rem;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 22px 22px 100px #f2f2f2, -22px -22px 100px #ffffff;
}
main .home .home-content .home-card .home-item {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .home .home-content .home-card .home-item .item-text {
  font-family: "Rubik", sans-serif;
}
main .home .home-content .home-card .home-item .item-text .item-title {
  font-weight: 700;
  color: #0B132A;
}
main .home .home-content .home-card .home-item .item-text .item-subtitle {
  font-weight: 400;
  color: #4F5665;
}
main .home .home-content .home-card .home-item svg {
  height: 5rem;
  width: 5rem;
  margin-right: 1rem;
}
main .home .home-content .home-card .home-item svg .user-icon:nth-child(1) {
  fill: #2058e8;
}
main .home .home-content .home-card .home-item svg .user-icon:nth-child(2) {
  fill: #4E7BED;
}
main .home .home-content .home-card .home-item svg .user-icon:nth-child(3) {
  fill: #abc0f6;
}
main .home .home-content .home-card .home-item svg .location-icon:nth-child(1) {
  fill: #4E7BED;
}
main .home .home-content .home-card .home-item svg .location-icon:nth-child(2) {
  fill: #7c9ef2;
}
main .home .home-content .home-card .home-item svg .location-icon:nth-child(3) {
  fill: #abc0f6;
}
main .home .home-content .home-card .home-item svg .server-icon:nth-child(1), main .home .home-content .home-card .home-item svg .server-icon:nth-child(2) {
  fill: #4E7BED;
}
main .home .home-content .home-card .home-item svg .server-icon:nth-child(3), main .home .home-content .home-card .home-item svg .server-icon:nth-child(4), main .home .home-content .home-card .home-item svg .server-icon:nth-child(5) {
  fill: #1445c1;
}
main .home .home-content .home-card .home-item svg .server-icon:nth-child(6) {
  fill: #abc0f6;
}
main .home .home-content .home-card .home-item-divisor {
  height: 80%;
  background-color: #4F5665;
  opacity: 0.1;
  width: 2px;
}
main .security {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main .security .security-content {
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .security .security-content .security-svg {
  height: 40rem;
  width: 40rem;
}
main .security .security-content .security-svg svg {
  width: 100%;
  height: 100%;
}
main .security .security-content .security-text {
  font-family: "Rubik", sans-serif;
}
main .security .security-content .security-text .security-title {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  color: #0B132A;
  width: 40rem;
  margin-bottom: 2rem;
}
main .security .security-content .security-text .security-title span {
  font-weight: 700;
}
main .security .security-content .security-text .security-subtitle {
  font-size: 1.5rem;
  width: 40rem;
  font-weight: 400;
  color: #4F5665;
  margin-bottom: 2rem;
}
main .security .security-content .security-text .security-list-item {
  display: flex;
  align-items: center;
  color: #4F5665;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
main .security .security-content .security-text .security-list-item svg {
  margin-right: 1rem;
  height: 2rem;
  width: 2rem;
}
main .security .security-content .security-text .security-list-item svg path:nth-child(1) {
  fill: white;
}
main .security .security-content .security-text .security-list-item svg path:nth-child(2) {
  fill: #4E7BED;
}
main .plans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
}
main .plans .plans-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #0B132A;
  margin-bottom: 2rem;
}
main .plans .plans-subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #4F5665;
  margin-bottom: 4rem;
}
main .plans .plans-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main .plans .plans-content .plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.15rem solid rgba(79, 86, 101, 0.15);
  border-radius: 1rem;
  padding: 2rem;
  height: 45rem;
  margin: 1rem;
}
main .plans .plans-content .plan .plan-icon svg {
  height: 10rem;
  width: 10rem;
  margin-bottom: 4rem;
}
main .plans .plans-content .plan .plan-title {
  font-size: 1.25rem;
  font-weight: 1rem;
  margin-bottom: 3rem;
}
main .plans .plans-content .plan .plan-features {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 3rem;
}
main .plans .plans-content .plan .plan-features .feature {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
main .plans .plans-content .plan .plan-features .feature .feature-icon {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
}
main .plans .plans-content .plan .plan-features .feature .feature-icon path:nth-child(1) {
  fill: #4E7BED;
}
main .plans .plans-content .plan .plan-features .feature .feature-icon path:nth-child(2) {
  fill: #abc0f6;
}
main .plans .plans-content .plan .plan-features .feature .feature-text {
  color: #4F5665;
  font-weight: 400;
  font-size: 0.85rem;
  width: 18rem;
}
main .plans .plans-content .plan .plan-price {
  font-weight: 500;
  margin-bottom: 1rem;
  width: 100%;
  height: 100%;
}
main .plans .plans-content .plan .plan-button {
  padding: 0.5rem 3rem;
  border-radius: 2rem;
  border: 0.15rem solid #4E7BED;
  background-color: transparent;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  color: #4E7BED;
}
