@import "_keyframes.scss"; // Template de animações
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap'); // Google fonts

// Font family
$nunito : "Nunito",
sans-serif;

// Font size
$fs-smaller: 0.5rem;
$fs-small: 0.75rem;
$fs-medium : 1rem;
$fs-big: 1.5rem;
$fs-bigger: 2rem;

// Font weight
$fw-lighter: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.full-logo {
    height: 2rem;
    cursor: pointer;

    .circle path {
        transition: 325ms ease-in-out;
    }

    &:hover {
        .circle path {
            fill: black;
        }
    }
}