// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

// Variables
    // Fonts
        // Font families
            $poppins : 'Poppins',sans-serif;
            $roboto-mono : 'Roboto Mono',monospace;
    // Colors
        // Main colors
            $main-color : #4EE3ED;
        // Background colors
            $background-dark : darken(#313131, 10%); // Escureci 10% porque achei mais interessante.
        // Text colors
            $text-white : white; // Mudar depois para uma cor certa.
            $text-dark : black; // Mudar depois para uma cor certa.
            $link-white : lighten($main-color, 15%);
            $link-dark : darken($main-color, 15%);


// Base format

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}